@use '../../styles/variables' as *;
.login {
   height: calc(100vh - 50px);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3)),
      url("https://images7.alphacoders.com/107/thumb-1920-1074234.jpg");
   background-size: cover;

   &__title {
      font-size: 50px;
   }

   &__form {
      margin-top: 20px;
      display: flex;
      flex-direction: column;

      label {
         margin: 10px 0;
      }
   }

   &__input {
      padding: 10px;
      background-color: white;
      border: 1px solid #b7b7b766;
      border-radius: 4px;
      outline: none;
   }

   &__btn {
      margin-top: 20px;
      cursor: pointer;
      background-color: $btn;
      border: none;
      color: white;
      border-radius: 10px;
      padding: 10px;
      text-decoration: none;
      text-align: center;

      &:hover{
         background-color: $btn-hover;
      }
   }


   &__register__btn{
      position: absolute; 
      top: 10%;
      right: 2%;
      background-color: $btn;
      border: none;
      padding: 10px;
      color: white;
      border-radius: 10px;
      text-decoration: none;
      text-align: center;

      
      &:hover{
         background-color: $btn-hover;
      }
   }
}
