.write {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}
.write__img {
  margin: 0 auto;
  width: 80%;
  height: 55vh;
  object-fit: cover;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .write__img {
    margin-top: 20%;
    height: 20vh;
  }
}
.write__form {
  position: relative;
  margin-bottom: 300px;
}
.write__form .form__group {
  display: flex;
  margin-left: 150px;
}
@media (max-width: 768px) {
  .write__form .form__group {
    margin-left: 35px;
  }
}
.write__form .form__group label {
  display: flex;
  align-items: center;
}
.write__icon {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  font-size: 20px;
  cursor: pointer;
}
.write__icon:hover {
  color: #222;
}
.write__input {
  font-size: 30px;
  border: none;
  padding: 20px;
  width: 70vw;
  outline: none;
}
.write__text {
  font-size: 20px;
}
.write__submit {
  position: absolute;
  top: 83%;
  right: 10%;
  color: white;
  background-color: teal;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}
.write__submit:hover {
  background-color: #006666;
}