.nav {
  width: 100%;
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #fff;
  display: flex;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  color: #444;
  /* Nav__left */
  /* Nav__right */
  /* Nav__center */
}
@media screen and (max-width: 768px) {
  .nav {
    display: none;
  }
}
.nav__left {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__left .nav__icon {
  font-size: 22px;
  margin-right: 15px;
  color: #666;
  cursor: pointer;
}
.nav__left .nav__icon:hover {
  color: #222;
}
.nav__right {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__right .nav__img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
.nav__right .nav__searchIcon {
  font-size: 18px;
  color: #666;
  cursor: pointer;
  margin-left: 15px;
}
.nav__right .nav__searchIcon:hover {
  color: #222;
}
.nav__center {
  flex: 6;
}
.nav .nav__list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav .nav__list .list__item {
  margin-right: 20px;
  padding: 0 10px;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
}
.nav .nav__list .list__item .link {
  text-decoration: none;
  color: inherit;
}
.nav .nav__list .list__item .link:hover {
  color: #1c1a1a;
  text-shadow: 0px 0px 10px #222;
}