.sidebar {
  flex: 3;
  margin: 20px;
  height: fit-content;
  padding-bottom: 30px;
  background-color: #fdfbfb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 7%;
}
.sidebar .sidebar__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar .sidebar__item .sidebar__title {
  margin: 10px;
  padding: 5px;
  width: 80%;
  border-top: 1px solid #a7a4a4;
  border-bottom: 1px solid #a7a4a4;
  font-family: "Varela Round", sans-serif;
  font-size: 12px;
  color: #222;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
}
.sidebar .sidebar__item .sidebar__img {
  margin-top: 15px;
  width: 150px;
  height: 150px;
  object-fit: contain;
}
.sidebar .sidebar__item p {
  padding: 30px;
}
.sidebar .sidebar__item .sidebar__list {
  list-style: none;
  margin-bottom: 20px;
  padding-left: 20%;
}
@media screen and (max-width: 768px) {
  .sidebar .sidebar__item .sidebar__list {
    padding-left: 20%;
  }
}
.sidebar .sidebar__item .sidebar__list .list__item {
  display: inline-block;
  width: 50%;
  margin-top: 15px;
  cursor: pointer;
}
.sidebar .sidebar__item .sidebar__list .list__item:hover {
  text-shadow: 0 0 10px #222;
}
.sidebar .sidebar__item .sidebar__social {
  margin-top: 15px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar .sidebar__item .sidebar__social .sidebar__icon {
  font-size: 26px;
  margin-left: 10px;
  cursor: pointer;
  color: #666;
}
.sidebar .sidebar__item .sidebar__social .sidebar__icon:hover {
  color: #222;
}